<!DOCTYPE html>
<html>
<head>
    <title>Wind Training Status Page</title>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>Wind Status</h1>

<br>

<p>Working</p>

<table>
    <tr>
        <th>ID</th>
        <th>Mode</th>
         <th>Host</th>

        <th>Start</th>
        <th>Updated</th>
        <th>ahead</th>

    </tr>
    {% for job in work|sort%}
    <tr>
        <td>{{job}}</td>
         <td>{{work[job]['mode']}}</td>
         <td>{{work[job]['host']}}</td>
       <td>{{work[job]['btime']}}</td>
       <td>{{work[job]['etime']}}</td>
       <td>{{work[job]['ahead']}}</td>
    </tr>
    {% endfor %}
</table>


<p>{{done}} jobs done </p>
<p>{{pend}} jobs pending</p>
</body>
</html>
